absl-py==2.0.0
accelerate==0.24.1
aiofiles==23.2.1
aiohttp==3.9.0
aiolimiter==1.1.0
aiosignal==1.3.1
aiostream==0.5.2
alembic==1.13.1
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.0
asgiref==3.7.2
asteroid-filterbanks==0.4.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncpg==0.29.0
atlassian-python-api==3.41.3
attrs==23.1.0
audio-recorder-streamlit==0.0.8
audioread==3.0.1
Authlib==1.3.0
Babel==2.14.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
bitsandbytes==0.40.2
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
bs4==0.0.1
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.2
camelot-py==0.11.0
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpathlib==0.16.0
cmake==3.27.9
cohere==4.39
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
confection==0.1.4
contourpy==1.2.0
cryptography==41.0.7
cssselect==1.2.0
ctransformers==0.2.27
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.2
datasets==2.15.0
debugpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_563_nwtkoc/croot/debugpy_1690905063850/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
dirtyjson==1.0.8
distro==1.8.0
docopt==0.6.2
docx2txt==0.8
einops==0.7.0
emoji==2.8.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1700579780973/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
faiss-cpu==1.7.4
fake-useragent==1.3.0
fastapi==0.105.0
fastavro==1.9.1
fastembed==0.1.1
fastjsonschema==2.19.1
feedparser==6.0.10
filelock==3.13.1
filetype==1.2.0
firebase-admin==6.3.0
FlagEmbedding @ git+https://github.com/FlagOpen/FlagEmbedding.git@17511852b05d3b5bf7fc591724b03ddf6c120523
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.45.0
fqdn==1.5.1
frontend==0.0.3
frozendict==2.4.0
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.3
gast==0.5.4
ghostscript==0.7
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.14.0
google-api-python-client==2.109.0
google-auth==2.24.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.13.1
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
greenlet==3.0.1
grpcio==1.59.3
grpcio-status==1.59.3
grpcio-tools==1.59.3
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.1
httpx-sse==0.3.1
huggingface-hub==0.19.4
humanfriendly==10.0
hyperframe==6.0.1
HyperPyYAML==1.2.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
install==1.3.5
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1698244280508/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1698846678920/work
ipywebrtc==0.6.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
julius==0.2.7
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_782yoyc_98/croot/jupyter_core_1698937318631/work
jupyter_server==2.12.2
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keras==2.15.0
keybert==0.8.3
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.1.0
langchain-cli==0.0.19
langchain-community==0.0.10
langchain-core==0.1.8
langcodes==3.3.0
langdetect==1.0.9
langserve==0.0.36
langsmith==0.0.80
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
lightning==2.1.3
lightning-utilities==0.10.0
llama-hub==0.0.69
llama-index==0.9.44
llvmlite==0.41.1
lxml==4.9.3
Mako==1.3.0
mangum==0.17.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
mlx==0.0.3
mlx-data @ file:///Users/1zuu/Desktop/LLM%20RESEARCH/mlx-tutorials/mlx-data
mmh3==4.0.1
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
multitasking==0.0.11
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.14.0
nbformat==5.9.2
neo4j==5.15.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1697083700168/work
networkx==3.2.1
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.58.1
numpy==1.26.2
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.16.3
openai==1.3.4
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
opencv-python==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
opt-einsum==3.3.0
optuna==3.5.0
orjson==3.9.10
overrides==7.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==2.1.4
pandocfilters==1.5.0
parse==1.19.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pdfminer.six==20221105
peewee==3.17.0
peft==0.4.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pgvector==0.2.4
phoenix==0.9.1
Phoenix-python==2020.7.3
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
pinecone-client==3.0.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1699715570510/work
pooch==1.8.0
portalocker==2.8.2
posthog==3.1.0
preshed==3.0.9
primePy==1.3
prometheus-client==0.19.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1699963054032/work
proto-plus==1.22.3
protobuf==4.23.4
psutil @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1310b568-21f4-4cb0-b0e3-2f3d31e39728k9coaga5/croots/recipe/psutil_1656431280844/work
psycopg2-binary==2.9.9
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pulsar-client==3.3.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py-cpuinfo==9.0.0
pyaml==23.9.7
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pybind11-global==2.11.1
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.8.1b0
pydub==0.25.1
pyee==8.2.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT==2.8.0
PyMuPDF==1.23.7
PyMuPDFb==1.23.7
pyparsing==3.1.1
pypdf==3.17.1
PyPDF2==3.0.1
PyPika==0.48.9
pyppeteer==1.0.2
pyproject_hooks==1.0.0
pyquery==2.0.0
pysbd==0.3.4
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-iso639==2023.6.15
python-json-logger==2.0.7
python-magic==0.4.27
pytorch-lightning==2.1.3
pytorch-metric-learning==2.4.1
pytz==2023.3.post1
pyvis==0.3.2
PyYAML==6.0.1
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_23n9bfwjq5/croot/pyzmq_1686601381911/work
qdrant-client==1.6.9
qtconsole==5.5.1
QtPy==2.4.1
ragas==0.0.21
rake-nltk==1.0.6
rank-bm25==0.2.2
rapidfuzz==3.5.2
referencing==0.31.0
regex==2023.10.3
replicate==0.20.0
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
secure-smtplib==0.1.1
semver==3.0.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sgmllib3k==1.0.0
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.2
spacy-legacy==3.0.12
spacy-llm==0.6.4
spacy-loggers==1.0.5
speechbrain==0.5.16
SpeechRecognition==3.10.1
SQLAlchemy==2.0.23
srsly==2.4.8
sse-starlette==1.8.2
sseclient-py==1.8.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
streamlit==1.30.0
streamlit-audiorec==0.1.3
streamlit-audiorecorder==0.0.4
streamlit-chat==0.1.1
streamlit-mic-recorder==0.0.4
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.15.0
termcolor==2.3.0
terminado==0.18.0
thinc==8.2.2
threadpoolctl==3.2.0
tiktoken==0.5.1
tinycss2==1.2.1
together==0.2.10
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.0
torch==2.1.1
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.1.1
torchmetrics==1.2.1
torchvision==0.16.1
tornado==6.4
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1698671135544/work
transformers==4.31.0
trl==0.4.7
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata==2023.3
tzlocal==5.2
unstructured==0.11.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.23.2
uvloop==0.19.0
validators==0.22.0
voyageai==0.1.7
w3lib==2.1.2
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1700607916581/work
weasel==0.3.4
weaviate-client==3.26.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wikipedia==1.4.0
wrapt==1.14.1
xxhash==3.4.1
yarl==1.9.3
yfinance==0.2.33
zipp==3.17.0
